.title {
  font-weight: bold;
}
.subtitle {
  font-style: italic;
}
.display-html {
  white-space: pre-wrap;
}
.pass {
  color: rgb(0, 112, 14);
}
.fail {
  color: rgb(124, 0, 0);
}
.error {
  color: rgb(124, 0, 0);
}
.hidden {
  height: 0;
  width: 0;
  overflow: hidden;
}
